img {
    width: 300px;
    height: 300px;
}

.img-size-gallery {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.conatiner-width {
    width: 80%;
}

.button-color {
    background-color: #3882f6;
}

.biggest-font{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.information-font {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.header-font {
    font-size: 24px;
    color: #F9FAF8
}

.quote-font {
    font-size: 24px;
    font-weight: bolder;
}

.secondary-font {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.whole-page {
    display: flex;
    flex-direction: column;   
}

.web-site-top {
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    padding: 0 50px;
}


.header-links ul {
    list-style-type: none;
    font-size: 18px;
    gap: 50px;
    padding-right: 50px;
}

.top-content {
    margin: 50px 200px;
    justify-content: space-evenly;
}


.sign-up {
    width: 50%;
}

p.biggest-font {
    margin-bottom: 0;
}



.top-button {
    width: 35%;
}

.img-spot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gal-sec {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.img-gal {
    gap: 50px;
}

.text {
    width: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 45px;
}

.quote-section {
    background-color: #e5e7eb;
    align-items: center;
}

.quote {
    width: 50%;
    margin-top: 20px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 0;
}

.quote-source {
    align-self: flex-end;
    margin-right: 20%;
}

.bottom-sign-up-section {
    overflow: hidden;
    align-items: center;
    height: 300px;
}

.info {
    margin-left: 70px;
    justify-content: center;
}

.info > p.secondary-font {
    margin-top: 0;
}

.info > p.header-font {
    margin-bottom: 0;
}

.sign-up-container {
    margin: auto;
    background-color: #3882f6;
    border-radius: .5em;
    width: 70%;
    height: 150px;
}

.button {
    border: #fff solid 2px;
    border-radius: 10px;
    background-color: #3882f6;
    height: 50px;
    width: 100px;
    align-self: center;
}

.align-right {
    margin-left: auto;
    padding-right: 20%;
}

.footer {
    background-color: #1f2937;
    justify-content: center;
    height: 100px;
    align-items: center;
}